#pageHeader {
    background-color: slategrey;
    color: white;
}

#pageHeader h1 {
    margin-left: 15%;
}

.navLink {
    background-color: lightgrey;
    text-align: center;
    border: solid black 1px;
}

.navContainer {
    padding: 10px;
    background-color: darkcyan;
}

.form-submittal {
    height: 10%;
}

.entryForm {
    border-radius: 5px;
    border: solid black 1px;
}

.entryContent {
    background-color: lightgrey;
}

.customTable {
    background-color: lightskyblue;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black 1px;
}