<ng-include src="'./views/navigation.html'"></ng-include>
<form ng-submit="vm.submitEntry(vm.newEntry)">
    <input type="text" ng-model="vm.newEntry.entry" placeholder="What did you do?" />
    <select ng-model="vm.newEntry.project_id">
        <option value="" disabled selected>Project</option>
        <option value="{{project.id}}" ng-repeat="project in vm.projectsList">{{project.name}}</option>
    </select>
    <input type="date" ng-model="vm.newEntry.date" />
    <input type="time" ng-model="vm.newEntry.startTime" placeholder="Start Time" />
    <input type="time" ng-model="vm.newEntry.endTime" placeholder="End Time" />
    <input type="submit" />
</form>

<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column>Entry</th>
                <th md-column>Project</th>
                <th md-column md-date>Date</th>
                <th md-column md-numeric>Hours</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="entry in vm.entries">
                <td md-cell>{{entry.entry}}</td>
                <td md-cell>{{entry.name}}</td>
                <td md-cell>{{entry.entry_date | date}}</td>
                <td md-cell>{{entry.hours}}</td>
                <td md-cell><button ng-click="vm.deleteEntry(entry.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</md-table-container>
