<ng-include src="'./views/navigation.html'"></ng-include>
<form layout="column" ng-cloak class="md-inline-form entryForm" ng-submit="vm.submitEntry(vm.newEntry)" flex="60" flex-offset="20">
    <md-content class="entryContent">
        <div layout-gt-xs="row" layout-align="center" layout-padding>
            <md-input-container class="entryInput" flex="100">
                <label>Entry</label>
                <input type="text" ng-model="vm.newEntry.entry" placeholder="What did you do?" />
            </md-input-container>
        </div>
    </md-content>
    <md-content class="entryContent">
        <div layout-gt-xs="row" layout-align="center" layout-padding>
            <md-input-container class="entryInput" flex="20">
                <label>Project</label>
                <md-select ng-model="vm.newEntry.project_id">
                    <md-option value="{{project.id}}" ng-repeat="project in vm.projectsList">{{project.name}}</option>
                </md-select>
            </md-input-container>
            <md-input-container class="entryInput" flex="30">
                <label>Entry Date</label>
                <md-datepicker ng-model="vm.newEntry.date"></md-datepicker>
            </md-input-container>
            <md-input-container class="entryInput" flex="15">
                <label>Start Time</label>
                <input type="time" ng-model="vm.newEntry.startTime">
            </md-input-container>
            <md-input-container class="entryInput" flex="15">
                <label>End Time</label>
                <input type="time" ng-model="vm.newEntry.endTime">
            </md-input-container>
            <div>
                <md-button type="submit" class="md-raised md-warn">Submit</md-button>
            </div>

        </div>
    </md-content>
</form>

<md-table-container layout="column" flex="80" flex-offset="10">
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column ng-click="vm.myOrder = 'entry';">Entry</th>
                <th md-column ng-click="vm.myOrder = 'name';">Project</th>
                <th md-column ng-click="vm.myOrder = 'entry_date';" md-date>Date</th>
                <th md-column ng-click="vm.myOrder = 'hours';" md-numeric>Hours</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="entry in vm.entries | orderBy: vm.myOrder">
                <td md-cell>{{entry.entry}}</td>
                <td md-cell>{{entry.name}}</td>
                <td md-cell>{{entry.entry_date | date}}</td>
                <td md-cell>{{entry.hours}}</td>
                <td md-cell><button ng-click="vm.deleteEntry(entry.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</md-table-container>