<form ng-submit="vm.addProject(vm.newProject)">
    <input type="text" ng-model="vm.newProject.project_name" placeholder="Project Name"/>
    <input type="submit"/>
</form>
<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Total Hours</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in vm.projects">
            <td>{{project.name}}</td>
            <td>{{project.hours}}</td>
            <td><button ng-click="vm.deleteProject(project.id)">Delete</button></td>
        </tr>
    </tbody>
</table>